<ion-view title="Configurações" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="configuraEs-heading1" style="color:#000000;font-weight:400;">Notificações</h3>
    <form id="configuraEs-form9" class="list">
      <ion-toggle toggle-class="toggle-positive" id="configuraEs-toggle2">Alertas leves*</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="configuraEs-toggle3">Alertas médios*</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="configuraEs-toggle4">Alertas graves*</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="configuraEs-toggle5">Alertas por SMS</ion-toggle>
    </form>
    <button id="configuraEs-button10" class="button button-dark button-large button-block button-clear icon ion-android-locate" ng-click="takeGPS()"> Atualizar local com GPS</button>
     <p style="margin-top:0px;color:#000000;">GPS: </p>

     <button id="configuraEs-button11" class="button button-positive  button-block">Salvar</button>
  </ion-content>
</ion-view>