<ion-view title="Enviar Alerta" id="page6">
  <ion-content padding="true" class="has-header" >
    <form id="enviarAlerta-form7" class="list">
      <label class="item item-select" id="enviarAlerta-select2">
        <span class="input-label">Tipo Alerta</span>
        <select></select>
      </label>
      <label class="item item-input" id="enviarAlerta-textarea3">
        <span class="input-label">Descreva o Alerta</span><textarea placeholder=""></textarea></label>
    </form>
    <button id="enviarAlerta-button9" style="text-align:left;" class="button button-light button-large button-icon icon ion-android-camera" ng-controller="CameraAppCtrl" ng-click="takePicture()" > Enviar foto</button>
  </ion-content>
</ion-view>