<ion-view title="Histórico" id="page7">
  <ion-content padding="true" class="has-header" ng-controller="funcaoLabel">
    <ion-list id="histRico-list5">
      <ion-item class="item-thumbnail-left" id="histRico-list-item23" ui-sref="tabsController.alertaDetalhado">
        <h2>{{labelTituloAlerta}}</h2>
        <p>{{labelUltimaDescricaoAlerta}} - {{labelDataHoraAlerta}}</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRico-list-item24" ui-sref="tabsController.alertaDetalhado">
        <h2>Título alerta</h2>
        <p>Descrição - Data</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRico-list-item25" ui-sref="tabsController.alertaDetalhado">
        <h2>Título alerta</h2>
        <p>Descrição - Data</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRico-list-item26" ui-sref="tabsController.alertaDetalhado">
        <h2>Título alerta</h2>
        <p>Descrição - Data</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRico-list-item27" ui-sref="tabsController.alertaDetalhado">
        <h2>Título alerta</h2>
        <p>Descrição - Data</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRico-list-item28" ui-sref="tabsController.alertaDetalhado">
        <h2>Título alerta</h2>
        <p>Descrição - Data</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>