<ion-view title="Inicio" id="page2">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 50px; text-align: center;">
      <img src={{alerta.url_img}} width="300" height="240">
    </div>
    <div class="item item-body" id="inicio-list-item-container2">
      <div id="inicio-markdown3" class="show-list-numbers-and-dots">
        <h2 id="fotoDoAlerta-heading3" style="color:#000000;text-align:center;">{{alerta.title}}</h2>
      </div>
      <div id="inicio-markdown13" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Data e hora: {{alerta.date_hour}}</p>
      </div>
      <div id="inicio-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Última descrição: {{alerta.last_description}}</p>
      </div>
    </div>
    <a href="#/page1/page10/{{alerta.id}}" class="button button-positive  button-block">Detalhes</a>
    <a href="#/page1/page11/{{alerta.id}}" class="button button-positive  button-block">Ver foto</a>
  </ion-content>
</ion-view>