<ion-view title="Inicio" id="page2">
  <ion-content padding="true" class="has-header" ng-controller="funcaoLabel">
    <div style="margin: 0px; line-height: 50px; text-align: center;">
      <img src="img/imgAlertaVermelho.jpg" width="300" height="240">
    </div>
    <div class="item item-body" id="inicio-list-item-container2">
      <div id="inicio-markdown3" class="show-list-numbers-and-dots">
        <h2 id="fotoDoAlerta-heading3" style="color:#000000;text-align:center;">{{labelTituloAlerta}}</h2>
      </div>
      <div id="inicio-markdown13" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{labelDataHoraAlerta}}</p>
      </div>
      <div id="inicio-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{labelUltimaDescricaoAlerta}}</p>
      </div>
    </div>
    <a ui-sref="tabsController.alertaDetalhado" id="inicio-button2" class="button button-positive  button-block">Detalhes</a>
    <a ui-sref="tabsController.fotoDoAlerta" id="inicio-button3" class="button button-positive  button-block">Ver foto</a>
  </ion-content>
</ion-view>