<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form6" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input7">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input" id="login-input8">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="user.password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button5" class="button button-stable  button-block" ng-click="login(user)">Entrar</button>
    </form>
    <h4 id="login-heading2" style="color:#000000;font-weight:400;text-align:center;">Ou</h4>
    <a ui-sref="cadastro" id="login-button8" class="button button-stable  button-block">Cadastre-se </a>
  </ion-content>
</ion-view>