<ion-view title="Mapa" id="page3">
  <ion-content padding="true" class="has-header" ng-controller="funcaoLabel">
    <div style="margin: 0px; line-height: 50px;  text-align: center;">
      <div id="map" ><img src="img/ex_maps.jpg" width="380" height="290"></div>
    </div>
    <div class="item item-body" id="mapa-list-item-container8" >
      <div id="mapa-markdown16" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{labelTituloAlerta}}</p>
      </div>
      <div id="mapa-markdown17" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{labelDataHoraAlerta}}</p>
      </div>
      <div id="mapa-markdown18" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">{{labelUltimaDescricaoAlerta}}</p>
      </div>
    </div>
    <a ui-sref="tabsController.alertaDetalhado" id="mapa-button4" class="button button-positive  button-block">Detalhes</a>
  </ion-content>
</ion-view>
