<ion-view title="Sobre" id="page9">
  <ion-content padding="true" class="has-header">
  <div style="margin: 0px; line-height: 50px; text-align: center;">
      <img src="img/logoSistemaDeAlerta.png" width="90" height="90" style= "font-size: 64px; color: rgb(136, 136, 136)";></img>
    </div>
    <div class="item item-body" id="sobre-list-item-container6">
      <div id="sobre-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Sistema de Alerta</p>

        <p style="color:#000000;">Versão 1.0</p>

        <p style="color:#000000;">Desenvolvedor Paulo Rodrigues</p>

        <p style="color:#000000;">Orientação Prof. Rodrigo Jardim</p>

        <p style="color:#000000;">Trabalho de Conclusão de Curso</p>

        <p style="color:#000000;">Sistemas de Informação - FACCAT</p>
      </div>
    </div>
    <ion-list id="sobre-list6">
      <ion-item id="sobre-list-item29" href="mailto:paulorodrigues@sou.faccat.br" style="text-align:center;">paulorodrigues@sou.faccat.br</ion-item>
    </ion-list>
  </ion-content>
</ion-view>